@use 'base';

#root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

main {
  @extend %flex-column;
  @extend %fill-size;
  padding: 2rem;
  box-sizing: border-box;
}

.background {
  @extend %fill-size;
  position: absolute;
  background-image: url('./assets/images/background-hd.jpg');
  background-size: cover;
  filter: brightness(0.39);
  z-index: -10;
}
